- var version = settings.cfg_app_version;
- var rootPath = settings.cfg_root_path;
- var useMinifiedFiles = settings.cfg_enable_minified_files;

doctype html
html
	head
		title=title
		if useMinifiedFiles === true
			link(rel='stylesheet', href='#{rootPath}lib/bootstrap/dist/css/bootstrap.min.css?#{version}')
			link(rel='stylesheet', href='#{rootPath}css/app.min.css?#{version}')
		else
			link(rel='stylesheet', href='#{rootPath}lib/bootstrap/dist/css/bootstrap.css?#{version}')
			link(rel='stylesheet', href='#{rootPath}css/app.css?#{version}')
	body
		block content

		script(type='text/javascript', src='#{rootPath}lib/requirejs/require.js?#{version}')
		script(type='text/javascript', src='#{rootPath}js/config.js?#{version}')
		script(type='text/javascript').
			require.config({
				urlArgs: '#{version}',
				rootPath: '#{rootPath}'
			});
		if useMinifiedFiles === true
			script(type='text/javascript', src='#{rootPath}js/app.min.js?#{version}')
		else
			script(type='text/javascript', src='#{rootPath}js/app.js?#{version}')

		block scripts
